@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Encode Sans, sans-serif;
}

.borda {
    border: 1px solid red;
}

.links {
    @apply relative after:content-[''] hover:cursor-pointer py-4 after:absolute after:bottom-0 after:left-0 after:right-0 after:h-0 after:bg-dourado after:transition-all hover:after:h-1;
}

a:hover {
    cursor: pointer;
}
